// Colors
$white-color: rgb(179, 165, 192);

$darker-purple-color: rgb(43, 33, 54);
$dark-purple-color: rgb(48, 36, 61);
$middle-purple-color: rgb(61, 46, 77);
$light-purple-color: rgb(135, 103, 168);
$lighter-purple-color: rgb(191, 142, 241);

// URLs
$header-image: 'https://i.imgur.com/NUuHWLk.png';
