.chat-3bRxxu {
  .da-search {
    .da-searchFilter,
    .da-searchAnswer {
      background-color: transparent !important;
    }
  }

  .repliedMessage-VokQwo {
    &::before {
      border-color: var(--text-muted);
    }

    .repliedTextPreview-2NBljf .markup-2BOw-j {
      color: var(--text-muted);
    }
  }

  .autocomplete-1vrmpx {
    background-color: var(--background-tertiary);

    .autocompleteRow-2OthDa .selected-1Tbx07 {
      background-color: var(--background-primary);
    }
  }

  .newMessagesBar-265mhP {
    background-color: var(--interactive-active);
    color: var(--interactive-normal);
  }
}
