.chat-2ZfjoI {
  .search-39IXmY {
    .searchFilter-2UfsDk,
    .searchAnswer-23w-CH {
      background-color: transparent !important;
    }
  }

  .repliedMessage-3Z6XBG {
    &::before {
      border-color: var(--text-muted);
    }

    .repliedTextPreview-1bvxun .markup-eYLPri {
      color: var(--text-muted);
    }
  }

  .autocomplete-1vrmpx {
    background-color: var(--background-tertiary);

    .autocompleteRow-2OthDa .selected-1Tbx07 {
      background-color: var(--background-primary);
    }
  }

  .newMessagesBar-265mhP {
    background-color: var(--interactive-active);
    color: var(--interactive-normal);
  }
}
