.guilds-1SWlCJ {
  .da-tutorialContainer {
    svg {
      a.da-wrapper {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 48px;
          height: 48px;
          background-image: url("#{$header-image}");
          background-size: cover;
          background-color: #{$dark-purple-color};
          transition: all 0.3s ease;
        }
      }
    }
  }
}
