.guilds-1SWlCJ {
  .da-tutorialContainer:first-of-type {
    svg {
      border-radius: 50%;
      overflow: hidden;
      box-shadow: var(--elevation-stroke), var(--elevation-high);

      a.da-wrapper {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("#{$header-image}");
          background-size: cover;
          background-color: #{$dark-purple-color};
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 125%;
          width: 35%;
          height: 100%;
          z-index: 999;
          background: rgba(255, 255, 255, 0.3);
          transform: skew(30deg);
          transition: all 0s ease;
        }

        &:hover::after {
          left: -50%;
          transition: all 0.5s ease;
        }
      }
    }
  }

  #bd-pub-button {
    background-color: var(--background-accent);
  }
}
