.slider-1PF9SW {
  .mark-1xjQqt {
    .markValue-2DwdXI { color: var(--text-normal); }
    .markDash-3hAolZ { color: var(--interactive-active); }
  }

  .bar-2Qqk5Z {
    background-color: var(--interactive-normal);

    .barFill-23-gu- { background: var(--interactive-active); }
  }
}
