.theme-dark {
  --header-primary: #{$white-color};
  --header-secondary: #{$white-color};
  --text-normal: #{$white-color};
  --text-muted: #{$light-purple-color};
  --text-link: #00b0f4;
  --channels-default: #{$white-color};
  --interactive-normal: #{$white-color};
  --interactive-hover: #{$lighter-purple-color};
  --interactive-active: #{$lighter-purple-color};
  --interactive-muted: #{$light-purple-color};
  --background-primary: #{$middle-purple-color};
  --background-secondary: #{$darker-purple-color};
  --background-secondary-alt: #{$dark-purple-color};
  --background-tertiary: #{$dark-purple-color};
  --background-accent: #{$middle-purple-color};
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-mobile-header: #2f3136;
  --background-modifier-hover: #{$dark-purple-color};
  --background-modifier-active: #{$middle-purple-color};
  --background-modifier-selected: #{$middle-purple-color};
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-mentioned: rgba(250, 166, 26, 0.05);
  --background-mentioned-hover: rgba(250, 166, 26, 0.08);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #{$dark-purple-color};
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-panel-background: #292b2f;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #{$middle-purple-color};
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}
