.theme-dark {
  .tooltip-2QfLtc {
    background-color: var(--background-secondary);
    color: var(--interactive-normal);

    .tooltipPointer-3ZfirK {
      border-top-color: var(--background-secondary);
    }
  }
}
