.userPopout-3XzG_A {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba($dark-purple-color, 0.6);

  .header-2BwW8b {
    background-color: var(--background-tertiary);
  }

  > .body-3iLsc4 {
    background-color: var(--background-secondary);

    .bodyTitle-Y0qMQz,
    .role-2irmRk {
      color: #{$white-color};
    }

    .actionButton-VzECiy {
      border-color: #{$white-color};
    }
  }

  .footer-1fjuF6 {
    background-color: var(--background-secondary);

    .inputDefault-_djjkz {
      background-color: var(--background-primary);
      border-color: #{$middle-purple-color};
    }
  }

  .headerPlaying-j0WQBV {
    .activityUserPopout-2yItg2 {
      background-color: var(--interactive-active);
    }
  }
}
